exclude: '\.patch$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-json
      - id: check-xml
      - id: check-ast
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: ['--autofix']
      - id: trailing-whitespace
  - repo: https://github.com/google/yapf
    rev: v0.40.2
    hooks:
      - id: yapf
        require_serial: true
  - repo: https://github.com/doublify/pre-commit-clang-format
    rev: 62302476d0da01515660132d76902359bed0f782
    hooks:
      - id: clang-format
        entry: clang-format-14 -i
  - repo: https://github.com/pylint-dev/pylint
    rev: v3.0.3
    hooks:
      - id: pylint
  - repo: https://github.com/google/yamlfmt
    rev: v0.10.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-pyyaml
          - types-requests
  - repo: local
    hooks:
      - id: check-for-copyright
        name: Check for Copyright
        entry: ./hooks/check_for_copyright.py
        language: python
        types: [file, python]
