stages:
  - lint
pre-commit:
  stage: lint
  tags: ["gpu", "os/linux"]
  variables:
    # NOTE: Setting this variable is equivalent to
    #   docker run --gpus 'all,"capabilities=compute,utility,graphics"'
    # This is required to run Isaac Lab on the CI machine.
    NVIDIA_DRIVER_CAPABILITIES: "compute,utility,graphics"
    IMAGE: nvcr.io/nvstaging/isaac-amr/nvblox_mindmap:latest
  image: "${IMAGE}"
  before_script:
    - . /opt/venv/bin/activate
    - python3 -m pip install --ignore-installed --upgrade pip
    - pip install -e .
    - pip install pre-commit
    - ci/print_system_status.sh
  script:
    - pre-commit run --all-files
  cache:
    key: "${CI_PROJECT_ID}"
    paths:
      - .cache/pre-commit
